<div class="study" *ngIf="study">
  <section class="hero" [ngStyle]="{ 'background-image': 'url(' + this.study.heroImage + ')'}">
    <h1>{{ study.title }}</h1>
  </section>

  <section class="featured-items">
    <div class="ui container">
      <div class="ui stackable three column grid">
        <div class="column" *ngFor="let column of this.featuredColumns">
          <div class="featured-item" *ngFor="let item of column">
            {{ item.title }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>