@import '../../../global-variables';

.nav-background {
  background-image: url('../../../assets/office-teal-monochrome.png');
  height: 15vh;
}

.study {

  section.hero {
    background-size: cover;
    height: 80vh;

    h1 {
      position: absolute;
      top: 30vh;
      left: 10vw;
      color: $white;
      // font-size: 2em;
    }
  }

  section.case-study-title {
    margin-top: 4vh;

    h1 {
      text-align: center;
      color: $light-teal;
    }
  }

  section.featured-items {

    .featured-item {
      position: relative;
      margin: 4vh 0;

      img {
        position: relative;
        top: 2vw;
        z-index: 50;
      }

      .text-box {
        padding: 2vw;
        padding-top: 3vw;
        background-color: darken($white, 5%);
        border-radius: 2vw;

        .title {
          text-align: center;
          color: $med-teal;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-size: 0.75em;
        }
      }
    }
  }

  section.design-strategy {

    .design-strategy-header {
      position: relative;
      margin: 4vh 0;

      img {
        position: relative;
        top: 2vw;
        z-index: 50;
      }

      .text-box {
        padding: 2vw;
        padding-top: 3vw;
        background-color: darken($white, 5%);
        border-radius: 2vw;

        .title {
          text-align: center;
          color: $med-teal;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }
      }
    }

    .design-strategy-details {

      .column {

        img {

        }

        .title {
          text-align: center;
          color: $med-teal;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-size: 0.75em;
        }

        .content {

        }
      }
    }
  }
}