@import '../global-variables';

header {
  position: absolute;

  ul.nav {
    width: 100vw;
    display: flex;
    padding-right: 2vw;

    li {
      list-style: none;
      // font-size: 0.75em;
      padding: 1.3vw 2vw;
      color: $white;
      cursor: pointer;

      &.logo {
        margin-right: auto;
        width: 7vw;
        padding-top: 0.9vw;

        svg {
          fill: $white;
          width: 7vw;
        }

        @media only screen and (max-width: 440px) {
          svg {
            width: 24vw;
          }
        }
      }

      &.case-studies, &.about, &.contact {
        visibility: hidden;
      }
    }
  }
}

footer {
  padding: 10px;
  background-color: $med-teal;

  .social-media {
    padding: 10px;
    font-size: 2.5em;
    text-align: center;

    .icon {
      margin: 0 10px;
      display: inline-block;
      color: $med-teal-min;

      &:hover {
        color: $light-teal;
      }
    }
  }
  
  p.copyright {
    font-size: 0.6em;
    padding: 10px;
    color: $med-teal-min;
    text-align: center;
  }
}