<section class="hero">
  <h1>Web assets ready for launch</h1>
</section>
<section id="case-studies">
  <h2 class="section-header">Case Studies</h2>
  <div class="ui container">
    <div class="ui stackable three column grid">
      <div class="column">
        <div class="case-study">
          <img src="http://via.placeholder.com/1024x768" class="ui image" alt="">
          <h3 class="title">Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus deserunt? Sed rerum odio expedita eius cumque rem provident, dicta ratione, voluptatem voluptates sapiente earum dignissimos necessitatibus enim, corrupti quaerat.</p>
          <h3 class="software-header">Software Used:</h3>
          <ul class="software">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="case-study">
          <img src="http://via.placeholder.com/1024x768" class="ui image" alt="">
          <h3 class="title">Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus deserunt? Sed rerum odio expedita eius cumque rem provident, dicta ratione, voluptatem voluptates sapiente earum dignissimos necessitatibus enim, corrupti quaerat.</p>
          <h3 class="software-header">Software Used:</h3>
          <ul class="software">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="case-study">
          <img src="http://via.placeholder.com/1024x768" class="ui image" alt="">
          <h3 class="title">Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus deserunt? Sed rerum odio expedita eius cumque rem provident, dicta ratione, voluptatem voluptates sapiente earum dignissimos necessitatibus enim, corrupti quaerat.</p>
          <h3 class="software-header">Software Used:</h3>
          <ul class="software">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="case-study">
          <img src="http://via.placeholder.com/1024x768" class="ui image" alt="">
          <h3 class="title">Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus deserunt? Sed rerum odio expedita eius cumque rem provident, dicta ratione, voluptatem voluptates sapiente earum dignissimos necessitatibus enim, corrupti quaerat.</p>
          <h3 class="software-header">Software Used:</h3>
          <ul class="software">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="case-study">
          <img src="http://via.placeholder.com/1024x768" class="ui image" alt="">
          <h3 class="title">Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus deserunt? Sed rerum odio expedita eius cumque rem provident, dicta ratione, voluptatem voluptates sapiente earum dignissimos necessitatibus enim, corrupti quaerat.</p>
          <h3 class="software-header">Software Used:</h3>
          <ul class="software">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="case-study">
          <img src="http://via.placeholder.com/1024x768" class="ui image" alt="">
          <h3 class="title">Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus deserunt? Sed rerum odio expedita eius cumque rem provident, dicta ratione, voluptatem voluptates sapiente earum dignissimos necessitatibus enim, corrupti quaerat.</p>
          <h3 class="software-header">Software Used:</h3>
          <ul class="software">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>