@import '../../../global-variables';

section.hero {
  background-image: url('../../../assets/office-teal-monochrome.png');
  background-size: cover;
  height: 80vh;

  h1 {
    position: absolute;
    top: 30vh;
    left: 10vw;
    color: $white;
    // font-size: 2em;
  }
}

section#case-studies {
  margin: 4vw 0;

  h2.section-header {
    // font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2vw;
  }

  .case-study {
    padding: 1vw;
    padding-bottom: 2vw;
    // border-radius: 2vw;
    // border: 2px solid transparent;
    cursor: pointer;
    transition: background-color, 0.15s;
    background-color: darken($white, 5%);

    &:hover {
      // border: 2px solid black;
      background-color: lighten($gray, 60%);
    }

    .text-box {
      padding: 1vw;

      h3.title {
        font-weight: 700;
        color: $med-teal;
      }
    
      h3.software-header {
        font-size: 0.75em;
        font-weight: 700;
        text-transform: uppercase;
      }
    
      ul.software {
    
        li {
          margin: 0 0.2em;
          padding: 0 0.45em;
          list-style: none;
          display: inline-block;
          font-size: 0.65em;
          background-color: $gray;
          color: $white;
          border-radius: 0.75em;
          -webkit-border-radius: 0.75em;
          -moz-border-radius: 0.75em;
          -ms-border-radius: 0.75em;
        }
      }
    }
  }
}

section#about {
  padding: 2em;
  background-color: $med-teal;
  color: $white;
}

section#call-to-action {
  padding: 2em;

  form {

    .item {
      padding-bottom: 1em;

      label {
        display: block;
        font-family: $headline-font;
        // font-size: 0.75em;
        text-transform: uppercase;
        color: $med-teal;
      }

      input, textarea {
        width: 75%;
        padding: 0.25em;
        background-color: $white;
        border: 2px solid $med-teal;
        border-radius: 0.15em;
      }
    }

    button {
      font-family: $headline-font;
      // font-size: 0.75em;
      text-transform: uppercase;
      background-color: $light-teal;
      color: $white;
    }
  }
}