$white: #eaf0ed;
$dark-gray: #2d4d59;
$black: #181b13;
$light-teal: #13aea8;
$med-teal: #005167;
$dark-teal: #00264a;
$light-orange: #d99e34;
$med-orange: #b25200;
$dark-orange: #732100;

$headline-font: 'Exo 2', sans-serif;
$body-font:'Roboto', sans-serif;