/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Roboto:400,700');
@import 'global-variables';

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(16px + (24 - 16)*(100vw - 400px)/(1500 - 400));
}

body {
  background-color: $white;
  color: $black;
  font-size: inherit;
}

h1, h2, h3 {
  font-family: $headline-font;
  font-weight: 400;
}

p, li {
  font-family: $body-font;
  font-weight: 400;
}